/*global*/

html{
    font-size: 62.5%;
}
:root{
    --primary:#ffcc00;
}
*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
img{
    max-width: 100%;
}

p{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
    color: black;
}

/*utilities*/

.container{
    width: 93%;
    margin: 1rem auto;
}


@media(min-width:768px){
    .container{
        width: 60%;
    }
}

/*navigation bar*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;
    background-color: white;
    height: 4.6rem;
}

.links-container a{
margin-right: 1rem;
}


.logo{
    display: none;
}
.logo-frame{
  height: 3rem;
}
.link-search{
    display: none;
}
.link-news{
    display: none;
}
.link-menu{
    display: none;
}
.link-login{
font-size: 1.4rem;
font-weight: bold;
text-transform: uppercase;
letter-spacing: .8rem;
margin-right: 1.5rem;
}
.link-subs{
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 1.4rem 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bold;    

}


.menu  a.link-subs:hover{

    animation-name: background-anime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
    block-size: 0px;

}

@keyframes background-anime{
    from {background-color: black; block-size: 5px;}
    to{background-color: var(--primary); block-size: 100%;}
}
    
/*}*/

.link-arrows{
    font-size: 1.6rem;
}

@media(min-width:768px){
    .logo-frame{
        display: none;
    }
    .logo{
        display: block;
        height: 3rem;
    }
    .link-search{
        display: inline-block;
    }
    .link-news{
        display: inline-block;
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: underline var(--primary) 2px;
    }

    .menu a.link-news:hover{
        background-color: var(--primary);
    }

    .link-menu{
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.3rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}


/*header*/
header{
    display: flex;
    flex-direction: column;
    height: 19rem;
    text-align: center;
    justify-items: center;
    margin-top: 7rem;

}
header h1{
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
  
}
header span{
     border-bottom:  .3rem solid var(--primary);
}
header p{
    border-bottom: 2rem;
    font-size: 1.6rem;
    letter-spacing: .2rem;
}
header div{
    border-bottom:  .3rem solid var(--primary);
    width: 5%;
    border-top: 2rem;
    margin-left: 50%;
    height: 4rem;

}
.todayH-container{
    display: flex;
    align-items:start;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 3rem auto;
    margin-top: 0;
}
.section-today{
    display: flex;
    flex-direction: column;
}
.section-today h2{

    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .7rem;
    width: 100%;
}
.today-line{
    background-color: #ffcc00;
    width: .6rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 2rem; 
}

/* main news*/
@media(min-width:768px){
main{
display: flex;
flex-direction: row-reverse;

}
.section-today{
    flex-basis: 35%;
    margin-right: 5rem;
}
.news-container{
    flex-basis: 65%;
    margin-bottom: 3rem;

}

.today-sub-container{
    display: flex;
    margin: 1.5rem;
}

.main-news-container{
    height: 450px;
    margin-bottom: 3rem;
}

}


.main-news-container{
position: relative;
overflow: hidden;

}

.main-news-container:hover img{
    transform: scale(1.1);
    cursor: pointer;
}

.main-news-text{
position: absolute;
top: 25rem;
left: 3rem;
}

.main-news-text h3{
text-transform: uppercase;
letter-spacing: 3px;
font-size: 1.3rem;
font-weight: bold;
margin-bottom: 2rem;
}

.main-news-text p{
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.main-news-text a{
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.4rem;
}

/* secondary news*/

@media(min-width:768px){
    .secondary-news{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1rem;
        column-gap: 1rem;
        height: 400px;
    }

    .news-container{
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 1fr;      
    }

    .secondary-news p{
        line-height: 1;
        padding-top: 0;
    }

}

.secondary-news-container{
height: 520px;
margin-bottom: 6rem;
overflow: hidden;
}

.secondary-news-container:hover img{
    transform: scale(1.05);
    cursor: pointer;
  
}


.secondary-news-img{
    height: 370px;
}

.secondary-news-img img{
    width: 100%;
    height: 100%;
}


.secondary-news-text{
    position: relative;
    background-color: white;
    color: black;
    height: 130px;
    padding: 2rem;
}

.secondary-news-container:hover .secondary-news-text::before{
    position:absolute;
    border-top: 5px solid #ffcc00;
    top:0;
    right: 0;
    bottom:0;
    left:0; 
    content:""; 
}

.secondary-news-text h3{
    color: gray;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.secondary-news-text h3:hover{
cursor: pointer;
text-decoration: underline;
}

.secondary-news-text p{
font-size: 2.1rem;
font-weight: bold;
letter-spacing: 2px;
margin-top: 2rem;
}

.secondary-news-text a{

    display: block;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.today-sub-container{
    display: flex;
}

.today-sub-img{
    max-width: 9rem;
    height: 9rem;
    margin-bottom: 1rem;
    margin-top: 0;
    align-items: top;
    margin-right: 2rem;
    overflow: hidden;
}

.today-sub-text{
    font-weight: bold;
    letter-spacing: .2rem;
    line-height: 1.5;

}

.today-sub-text h3{
letter-spacing: .3rem;
text-transform: uppercase;
margin-bottom: 1rem;
}

.today-sub-container h3:hover    {
    cursor: pointer;
    text-decoration: underline;
}

.today-sub-container p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.today-sub-img img:hover{
    cursor: pointer;
}

